env
backend/runs.db
backend/utils.py
/.vscode
__pycache__
modbus_gui
backend/infrastructure/controller/examples
runs.db
simulator/3D_engine
simulator/ais_traffic
simulator/icons
simulator/libs
simulator/snippets
simulator/specs
simulator/alesund_with_ais.html
simulator/alesund.html
simulator/index.html
simulator/README.md
images